<h2><%= @user.username %>'s Timeline</h2>

<!-- commented out as a second way to friend or unfriend.
<p>
  <%# if logged_in? %>
    <%# if !current_user.followings.include?(@user) %>
      <%#= link_to "Add Friend", befriend_user_path(@user), method: 'post' %>
    <%# else %>
      <%#= link_to "Unfriend", unfriend_user_path(@user), method: 'post' %>
    <%# end %>
  <%# end %>
</p> -->

<p>
  <% if logged_in? && @user != current_user %>
    <% if !current_user.followings.include?(@user) %>
      <%= link_to "BeFriend", user_friendships_path(@user), method: 'post' %>
    <% else %>   
      <%= link_to "UnFriend", user_friendship_path(@user, current_user), method: 'delete' %>
    <% end %>
  <% else %>
  <% end %>
</p>

<% @posts.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>

<%= render 'shared/will_paginate' %>