<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Create New Status</h1>
  </div>
    <div class="panel-body">
      <%= form_for @post do |f| %>
        <div class='form-group'>
          <%= f.label "Feelings" %>
            <div class="container-fluid">  
            <div class="col-xs-6 col-md-4">
              <%= f.collection_check_boxes :feeling_ids, Feeling.all, :id, :name do |cb|%>
                <% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
              <% end %>
            </div>
          </div>  
        </div>  
        <div class='form-group'>
          <%= f.label "How Do You Feel?" %>
          <%= f.text_area :description, rows: 5, class: "form-control" %>
        </div>
        <div class='form-group'>
          <%= f.label "Status Inspired from:" %>
          <%= f.text_field :url, class: "form-control"  %>
        </div>
        <%= f.submit(@post.new_record? ? 'Create Post' : 'Update Post', class: 'btn btn-success')%>
      <% end %>
    </div>
</div>

