  <div class='navbar-header'>
      <%= link_to "Emotion", root_path, class: 'navbar-brand'  %>
  </div>  
  <% if logged_in? %>
  <div class="nav navbar-nav navbar-right">
    <div class='btn btn-group nav_item'>
      <%= link_to('', class: 'btn btn-default btn-sm dropdown-toggle', 'data-toggle' => 'dropdown') do %>
        Click On: <strong><%= current_user.username %></strong>
        <span class='caret'></span>
      <% end %>
      <ul class='dropdown-menu'>
        <li>
          <%= link_to edit_user_path(current_user) do %>
            <i class='icon-pencil'></i>
            Edit Profile
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user) do %>
            <i class='icon-user'></i>
            View Profile
          <% end %>
        </li>
        <li>
          <%= link_to new_feeling_path do %>
            New Feeling
          <% end %>
        </li> 
        <li>
          <%= link_to feelings_path do %>
            Your Feelings
          <% end %>
        </li>                         
        <li>
          <%= link_to new_post_path do %>
            New Status
          <% end %>
        </li>        
        <li>
          <%= link_to logout_path do %>
            <i class='icon-circle-arrow-left'></i>
            logout
          <% end %>
        </li>
      </ul>
    </div>
  </div>    
  <% else # logged out%>
    <div class="nav navbar-nav navbar-right">
      <div class='nav_item'>
        <%= link_to 'Register', register_path, class: 'btn btn-success btn-small' %>
      </div>
      <div class='nav_item'>
        <%= link_to 'Log in', login_path, class: 'btn btn-small' %>
      </div>
    </div>
  <% end %>
</div>
